<!-- <mat-toolbar color="accent">
  <span>Tapari Momo</span>
</mat-toolbar>
<div class="container">
  <div>
    <img src="menu.jpeg" alt="App Logo" width="150" height="100" class="logo">

  </div>
 
</div>

<footer class="footer">
  <div class="footer-content">
    <p>&copy; 2025 Tapari App. All Rights Reserved.</p>
    <nav>
      <a href="#">Privacy Policy</a> | 
      <a href="#">Terms of Service</a> | 
      <a href="#">Contact Us</a>
    </nav>
  </div>
</footer> -->
<div class="wrapper">
  <mat-toolbar class="toolbar">
    <span>Tapari Momo</span>
  </mat-toolbar>

  <main class="content">
    <img src="menu.jpeg" alt="App Logo" class="logo">
  </main>

  <footer class="footer">
    <p>&copy; 2025 Tapari App. All Rights Reserved.</p>
    <nav>
      <a href="#">Privacy Policy</a> | 
      <a href="#">Terms of Service</a> | 
      <a href="#">Contact Us</a>
    </nav>
  </footer>
</div>
